<h1>MWC Perfil</h1>

<div>
    <form autocomplete="off" [formGroup]="userForm" (ngSubmit)="guardarPerfil()">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div>
                        <label for="nombre">Nombre:</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Manuel" formControlName="nombre">
                    </div>
                    <div>
                        <p class="red" *ngIf="campoNoValido('nombre')">El nombre es un campo requerido</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="apellidos">Apellidos:</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Fernández Esteban"
                            formControlName="apellidos">
                    </div>
                    <div>
                        <p class="red" *ngIf="campoNoValido('apellidos')">Los apellidos es un campo requerido</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="email">Email:</label>
                    </div>
                    <div>
                        <input type="email" class="form-control" placeholder="example@example.com"
                            formControlName="email">
                    </div>
                    <div>
                        <p class="red" *ngIf="campoNoValido('email')">El email debe ser válido</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="descripcion">Descripción:</label>
                    </div>
                    <div>
                        <textarea class="form-control" placeholder="Descripción" formControlName="descripcion"
                            rows="4"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="ciudad">Ciudad de residencia:</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="Málaga" formControlName="ciudad">
                    </div>
                    <div>
                        <p class="red" *ngIf="campoNoValido('ciudad')">La ciudad de residencia es un campo requerido</p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="pais">País de nacimiento:</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" placeholder="España" formControlName="pais">
                    </div>
                    <div>
                        <p class="red" *ngIf="campoNoValido('pais')">El pais de nacimiento es un campo requerido</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div>
                        <label for="experiencia">Años de experiencia:</label>
                    </div>
                    <div>
                        <input type="number" class="form-control" placeholder="1" formControlName="experiencia">
                    </div>
                    <div>
                        <p class="red" *ngIf="campoNoValido('experiencia')">los años de experiencia un campo requerido
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <label for="sector">Sector:</label>
                    </div>
                    <div>
                        <select name="sector" class="form-control" id="" formControlName="sector">
                            <option [defaultSelected]="true">Selecciona un sector</option> 
                            <option value="Front End">Front End</option>
                            <option value="Back End">Back End</option>
                            <option value="Data">Data</option>
                            <option value="Mobile">Mobile</option>
                        </select>
                    </div>
                    <div>
                        <p class="red" *ngIf="campoNoValido('sector')">Debes elegir un sector</p>
                    </div>
                </div>
                <div class="row">
                    <label>Selecciona las skills </label>
                    <div class="skillsAseleccionar" #skillsAseleccionar>

                    </div>
                    <div>
                        <label for="skill">Skills:</label>
                    </div>
                    <div class="skillsSeleccionadas" #skillsSeleccionadas>

                    </div>
                    
                </div>
                <div class="col-md-3 mt-5">
                    <div class="row">
                    <input type="submit" class="btn btn-success" value="Crear">
                </div>
                </div>
                
                
            </div>
        </div>

        
    </form>
</div>

<a class="btn btn-primary mt-3" role="button" routerLink="">atras</a>