<h1>MWC Perfil Personal</h1>

<div>
    <form>
        <div>
            <div>
                <label for="name">Nombre:</label>
            </div>
            <div>
                <input type="text" placeholder="Manuel">
            </div>
        </div>
        <div>
            <div>
                <label for="apellidos">Apellidos:</label>
            </div>
            <div>
                <input type="text" placeholder="Fernández Esteban">
            </div>
        </div>
        <div>
            <div>
                <label for="email">Email:</label>
            </div>
            <div>
                <input type="email" placeholder="example@example.com">
            </div>
        </div>
        <div>
            <div>
                <label for="descripcion">Descripción:</label>
            </div>
            <div>
                <input type="text" placeholder="Descripción">
            </div>
        </div>
        <div>
            <div>
                <label for="ciudad">Ciudad de residencia:</label>
            </div>
            <div>
                <input type="text" placeholder="Málaga">
            </div>
        </div>
        <div>
            <div>
                <label for="pais">País de nacimiento:</label>
            </div>
            <div>
                <input type="text" placeholder="España">
            </div>
        </div>
        <input type="submit" value="next">
    </form>
    <form>
        <div>
            <div>
                <label for="experiencia">Años de experiencia:</label>
            </div>
            <div>
                <input type="number" placeholder="1">
            </div>
        </div>
        <div>
            <div>
                <label for="sector">Sector:</label>
            </div>
            <div>
                <select name="sector" id="">
                    <option value="front">Front End</option>
                    <option value="back">Back End</option>
                    <option value="data">Data</option>
                    <option value="mobile">Mobile</option>
                </select>
            </div>
        </div>
        <div>
            <div>
                <label for="skill">Skills:</label>
            </div>
            <div>
                <input type="skill" placeholder="JavaScript">
            </div>
        </div>        
        <input type="submit" value="crear">
    </form>
</div>

<a routerLink="">atras</a>
